{% extends "workrecord/layout.html" %}
{% block content1 %}
    <h1>{{title}}</h1>
    <table>
        <tbody>
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <tr><td></td><td><input type="submit" value="click"></td></tr>
            </form>
        </tbody>
    </table>
    <script>
        // 自動補完機能OFF
        $("#id_workStartTime").attr('autocomplete', 'off');
        $("#id_workEndTime").attr('autocomplete', 'off');

        $(function () {
          // timedropper
          $("#id_workStartTime").timepicker({
              format: "h:mm p",
              defaultTime: '8:30am',
          });

          $("#id_workEndTime").timepicker({
              format: "h:mm p",
              defaultTime: '8:30am',
          });
       });
  </script>
{% endblock %}
