{% extends "workrecord/layout.html" %}
{% block content1 %}
    <h1>{{title}}</h1>
    <table>
        <tbody>
            <form action="{% url 'edit' id  %}" method="post">
                {% csrf_token %}
                {{ form }}
                <tr><td></td><td><input type="submit" value="click"></td></tr>
            </form>
        </tbody>
    </table>
    <script>
        // 自動補完機能OFF
        $("#id_workStartTime").attr('autocomplete', 'off');
        $("#id_workEndTime").attr('autocomplete', 'off');

        $(function () {
          // timedropper
          $("#id_workStartTime").timepicker({
            timeFormat: "H:mm",
            minTime: '8:00',
		    maxTime: '23:30',
            startTime: '8:30',
            interval: 15 // 15 minutes
          });

          $("#id_workEndTime").timepicker({
              timeFormat: "H:mm",
              minTime: '8:00',
		      maxTime: '23:30',
              startTime: '8:30',
              interval: 15 // 15 minutes
          });
       });
  </script>
{% endblock %}
