{% extends "workrecord/layout.html" %}
{% block content1 %}
    <h1>{{title}}</h1>
    <p>{{message|safe}}</p>
    <table>
        <tbody>
            <form action="{% url 'find' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <tr><td></td><td><input type="submit" value="click"></td></tr>
            </form>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>作業日</th>
                <th>工番</th>
                <th>メモ</th>
                <th>開始時刻</th>
                <th>終了時刻</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.workingDate}}</td>
                <td>{{item.workNumber}}</td>
                <td>{{item.memo}}</td>
                <td>{{item.workStartTime}}</td>
                <td>{{item.workEndTime}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}